@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-starthub: #3F3DBC;
  --color-starthub-dark: #1e1b4b;
  --color-starthub-light: #eff6ff;
}
